@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
}

button.default {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
}

.learn {
}

.learn .card {
  width: 100%;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.learn .card > .text {
  font-size: 5rem;
  font-weight: bold;
  color: green;
  font-family: 'Noto Sans', sans-serif;
}

.learn .options {
  text-align: center;
}

.learn .options > select {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
}

.learn .canvas {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background-image: url('img/background.svg');
}

.learn .nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-top: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}

.learn .nav button {
  display: inline-block;
  width: 24%;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.learn .nav button.prev {
  float: left;
}

.learn .nav button.next {
  float: right;
}

.learn .nav button.clear {
  color: red;
}

.learn .nav button.play {
  color: green;
}
